<div class="row">
	<div class="col-md-5">
		<div class="panel panel-default">
			<div class="panel-heading">
				Running Applications
			</div>
			<div class="panel-body">
				<div class="dashboard-device-list">
					<!-- <div 		
						uib-popover-template="'deviceMenu.html'"
						popover-placement="bottom"> -->
			<table class="table table-bordered">
				<thead>
					<tr>
						<th>Code Name</th>
						<th>Runtime ID</th>
						<th>Status</th>
						<th>Device</th>
					</tr>
				</thead>
				<div >	
				<tbody ng-repeat="(id,program) in $dash.programs" uib-popover-template="'deviceMenu.html'"
						popover-placement="bottom">
					<tr>
						<th>
						   {{ program.code_name}}
						</th>
						<td>
							{{ program.id }}
						</td>
						<td>
							{{ program.status }}
						</td>
						<td>
							{{ program.findRunningDevice(program.id,$dash.engines) }} 
						</td>
					</tr>
				</tbody>
			</div>
			</table>
					<!-- </div> -->
						<script type="text/ng-template" id="deviceMenu.html">
				<ul class="list-group" style="margin: -11px -16px">
					<a ng-click="$view.topProgram = program;" href="javascript:;" class="list-group-item">Display at Top pane</a>
					<a ng-click="$view.middleProgram = program;" href="javascript:;" class="list-group-item">Display at Middle pane</a>
					<a ng-click="$view.bottomProgram = program;" href="javascript:;" class="list-group-item">Display at Bottom pane</a>
					<a ng-click="program.findRunningDevice(program.id,$dash.engines).runCode" href="javascript:;" class="list-group-item">Run Program</a>
					<a ng-click="pauseCode" href="javascript:;" class="list-group-item">Pause Program</a>
					<a ng-click="migrateCode" href="javascript:;" class="list-group-item">Migrate Program</a>
				</ul>
			</script>		
				</div>			
			</div>
		</div>
			<div class="panel panel-default">
			<div class="panel-heading">
				<div class="btn-group" ng-init="videoChannel = 'raw'">
					<button ng-click="videoChannel = 'raw'" class="btn btn-default" ng-class="{ active: videoChannel === 'raw' }">Raw</button>
					<button ng-click="videoChannel = 'motion'" class="btn btn-default" ng-class="{ active: videoChannel === 'motion' }">Motion</button>
				</div>
				<span>Video Stream</span>
				<span class="pull-right boolean-lamp" ng-class="{ high: $service.videostream.alarm }" style="padding: 5px;">Motion</span>
			</div>
			<div class="panel-body">
				<div ng-show="videoChannel === 'raw'">
					<img ng-src="{{ $view.video_raw }}" class="img-responsive"/>
				</div>
				<div ng-show="videoChannel === 'motion'">
					<img ng-src="{{ $view.video_motion  }}" class="img-responsive"/>
				</div>
			</div>
		</div>	
		
	</div>
		
		
	<div class="col-md-7">
		
		<!-- Top Pane -->
		<code-panel code="$view.topProgram"></code-panel>
		
		<!-- Middle Pane -->
		<code-panel code="$view.middleProgram"></code-panel>
		
		<!-- Bottom Pane -->
		<code-panel code="$view.bottomProgram"></code-panel>
		
	</div>
</div>