<div class="row">
	<div class="col-md-5">
		<div class="panel panel-default">
			<div class="panel-heading">
				Running Applications
			</div>
			<div class="panel-body">
				<div class="dashboard-device-list">


<!-- 				<div ng-repeat="prgram in $dash.programs"
						class="dashboard-device"
						uib-popover-template="'deviceMenu.html'"
						popover-placement="bottom">
						<span> {{ program.code_name}} </span>
						<span>	{{ program.id }}  </span><
						<span>	{{ program.status }} </span>
					</div> -->
			<div> 
				<table class="table table-bordered ">
				<thead>
					<tr>
						<th>Code Name</th>
						<th>Runtime ID</th>
						<th>Status</th>
						<th>Device</th>
					</tr>
				</thead>
				<tbody ng-repeat="program in $dash.programs" ng-model=program>
					<tr>
						<th>
						   {{ program.code_name}}
						</th>
						<td>
							{{ program.id }} <!-- Runtime ID -->
						</td>
						<td>
							{{ program.status }}
						</td>
						<td>
							{{ program.findRunningDevice(program.id,$dash.engines) }} 
						</td>
					</tr>
				</tbody>
				</table>
			</div>							
				<script type="text/ng-template" id="deviceMenu.html">
				<ul class="list-group" style="margin: -11px -16px">
<!-- 					<li ng-if="program.status === 'running'" class="list-group-item">
						<div class="form-inline">
							<select ng-model="selectedCode" class="form-control" ng-change="console.log(selectedCode)">
								<option value="">--- Select Code ---</option>
								<option ng-repeat="program in $dash.programs" ng-value="codeName">{{ program.code_name }}</option>
							</select>
							<button ng-click="node.runCode(selectedCode, $service.allCodes[selectedCode].code)" class="btn btn-danger">Run</button>
						</div>
					</li>
					<li ng-if="node.status === 'busy'" class="list-group-item">
						{{ node.running }}
						<button ng-click="$service.pauseCode(node.id, node.running)" class="btn btn-danger">Stop</a>
					</li>
					<li ng-if="node.status === 'busy'" class="list-group-item">
						<div class="form-inline">
							<select ng-model="selectedNode" class="form-control">
								<option value="">--- Select Device ---</option>
								<option ng-repeat="(target, data) in $service.allNodes" ng-value="target" ng-if="data.status === 'idle' && data.id !== node.id">{{ target }}</option>
							</select>
							<button class="btn btn-warning btn-sm"
									ng-click="$service.migrateCode(node.id, selectedNode, node.running)">
								Move
							</button>
						</div>
					</li> -->
					<a ng-click="$view.topProgram = node;" href="javascript:;" class="list-group-item">Display at Top pane</a>
					<a ng-click="$view.middleProgram = code;" href="javascript:;" class="list-group-item">Display at Middle pane</a>
					<a ng-click="$view.bottomProgram = code;" href="javascript:;" class="list-group-item">Display at Bottom pane</a>
					<a ui-sref="nodes.view({ nodeId: node.id })" class="list-group-item">View Program Workflow</a>
				</ul>
				</script>

				</div>
				
			</div>
		</div>
			<div class="panel panel-default">
			<div class="panel-heading">
				<div class="btn-group" ng-init="videoChannel = 'raw'">
					<button ng-click="videoChannel = 'raw'" class="btn btn-default" ng-class="{ active: videoChannel === 'raw' }">Raw</button>
					<button ng-click="videoChannel = 'motion'" class="btn btn-default" ng-class="{ active: videoChannel === 'motion' }">Motion</button>
				</div>
				<span>Video Stream</span>
				<span class="pull-right boolean-lamp" ng-class="{ high: $service.videostream.alarm }" style="padding: 5px;">Motion</span>
			</div>
			<div class="panel-body">
				<div ng-show="videoChannel === 'raw'">
					<img ng-src="{{ $view.video_raw }}" class="img-responsive"/>
				</div>
				<div ng-show="videoChannel === 'motion'">
					<img ng-src="{{ $view.video_motion  }}" class="img-responsive"/>
				</div>
			</div>
		</div>	
		
	</div>
		
		
	<div class="col-md-7">
		
		<!-- Top Pane -->
		<code-panel code="$view.topPorgram"></code-panel>
		
		<!-- Middle Pane -->
		<code-panel code="$view.middleProgram"></code-panel>
		
		<!-- Bottom Pane -->
		<code-panel code="$view.bottomProgram"></code-panel>
		
	</div>
</div>