<style>
	.ace_editor { height: 400px; };
</style>
<body ng-controller="app">
<div class="row">
	<div class="col-md-8">
		
		<div class="row">
			<div class="col-md-4">
				<div class="form-group">
					<label>Name</label>
					<input type="text" ng-model="$view.codeName" class="form-control"/>
				</div>
			</div>
			<div ng-show="$view.codeName" class="col-md-8 text-right">
				<div class="form-inline">
					<select ng-model="$view.selectedNode" class="form-control">
						<option ng-repeat="(node, data) in $view.idleNodes" ng-value="node" ng-if="data.status === 'idle'">{{ node }}</option>
					</select>
						<button ng-click="$view.sendCode($view.selectedNode, $view.code)" class="btn btn-success">
							<i class="fa fa-play"></i> Run Code
						</button>						
						<button ng-click="$service.saveCode($view.codeName, $view.code)" class="btn btn-primary">
							<i class="fa fa-save"></i> Save Code
						</button>
						<button ng-show="$view.allCodes[$view.codeName]" ng-click="$service.deleteCode($view.codeName); $view.clearAll();" class="btn btn-danger">
							<i class="fa fa-trash"></i> Delete Code
						</button>				
							
					
				</div>
			</div>
		</div>
		<div class="form-group">
			<label>Code</label>
			<div ui-ace="{ mode: 'javascript' }" ng-model="$view.code" ng-keydown="$view.onKeyDown($event)"></div>
		</div>
	</div>
	<div class="col-md-4">
		
		<div class="well">
			<button ng-click="$view.clearAll()" class="btn btn-primary">
				<i class="fa fa-file"></i> Create New File
			</button>

			<!-- Adding a create new folder --> 
			<button ng-click="$view.testPOST()" class="btn btn-primary">
				<i class="fa fa-folder"></i> Create New Folder
			</button>
		

		<!-- ===================================================================================== -->

		<!-- Dummy JSON button --> 
		<button ng-click="$view.testGET()" class="btn btn-primary">
			<i class="fa fa-folder"></i> Test REST API Get
		</button>

        <!-- ===================================================================================== -->

	</div>
		

		<div class="list-group">
			<a ng-repeat="(name, data) in $view.allCodes"
				ng-click="$view.selectCode(name)"
				ng-class="{ active: ($view.codeName === name) }"
				href="javascript:;"
				class="list-group-item">
				{{ name }}
			</a>
		</div>
		
	</div>
</div>
</body>