<style>
	.ace_editor { height: 400px; };
</style>


<body ng-controller="app">

	<div class="row" ng-init="$view.init()">
		<div class="col-md-8">
			
			<div class="row">
				<div class="col-md-4">
					<div class="form-group">
						<label>Name</label>
						<input type="text" ng-model="$view.codeName" class="form-control"/>
					</div>
				</div>

				<div ng-show="$view.codeName" class="col-md-8 text-right">
					<div class="form-inline">
						<select ng-model="$view.selectedNode" class="form-control">
							<option ng-repeat="(node, data) in $view.idleNodes" ng-value="node" ng-if="data.status === 'idle'">{{ node }}</option>
						</select>
							<button ng-click="$view.sendCode($view.selectedNode, $view.code)" class="btn btn-success">
								<i class="fa fa-play"></i> Run Code
							</button>						
							<button ng-click="$view.saveCode($view.codeName, $view.code)" class="btn btn-primary">
								<i class="fa fa-save"></i> Save Code
							</button>
							<button ng-click="$view.saveFolder($view.codeName, $view.code)" class="btn btn-primary">
								<i class="fa fa-folder"></i> Create Folder
							</button>				
					</div>

				</div>
			</div>
			
			<div class="form-group">
				<label>Code</label>
				<div ui-ace="{ mode: 'javascript' }" ng-model="$view.code" ng-keydown="$view.onKeyDown($event)"></div>
			</div>
		</div>

		<div class="col-md-4">

			<div class="well">
				<button ng-click="$view.deleteSelected()" ng-show="$view.isEmpty()" class="btn btn-danger">
					<i class="fa fa-trash"></i> Delete Selected Files
				</button>
				
				<button ng-click="$view.cutSelected()" ng-show="$view.isEmpty()" class="btn btn-primary">
					<i class="fa fa-folder"></i> Cut Selected Files
				</button>

				<button ng-click="$view.copySelected()" ng-show="$view.isEmpty()" class="btn btn-primary">
					<i class="fa fa-folder"></i> Copy Selected Files
				</button>

				<button ng-click="$view.pasteSelected()" ng-show="$view.paste()" class="btn btn-primary">
					<i class="fa fa-folder"></i> Paste Selected Files
				</button>


			</div>
			
			<!-- Show the codes here. Modify to have it show directories now. -->
			<div class="list-group">
				<a ng-repeat="(name, content) in $view.allCodes"
					ng-mouseover="$view.menuHover(name, content)"
					ng-class="{ active: ($view.codeName === name) }"
					href="javascript:;"
					ng-style="$view.liststyle(name)"
					class="list-group-item">
					{{ name }}

					<input type="checkbox"
					ng-model="value"
					name="check"
					ng-model="value"
					ng-false-value="false"
					ng-class="{ active: ($view.codeName === name) }"
					href="javascript:;"
					ng-true-value="true"
					ng-change="$view.checked(name, content, value)">

					<img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAADVSURBVDhPYxgc4P8qBuZ/8xk8/s9nCIXjmQz8UGnCAKi5+f8Chv/I+N8ChqNEGwJUvBTdAFwYaNkfIJ4N1QoBpBgAwiBDoFohAG7AIqb//w8p/P9/SoMg/ndK496/s5ryqAas4caqGBf+d0ozHNWAzUJYFeLEJzSMUQ3YJYldIRYM9MKff8dkOFENOKSIVTE2/O+kxg2wZhAAG7CQ8f//k+pYFWPDQANWQ7WDDWj6v5wdq0Jc+N9J9QyodmhSXsUd/W+7eB9ReJdU4v//DIxQ7QMKGBgAo9+dHtgNjMIAAAAASUVORK5CYII="
					ng-click="$view.menuClick(name, content)">
				</a>
			</div>
			
		</div>

	</div>

</body>