<style>
	.ace_editor { height: 400px; };
</style>
<div class="row">
	<div class="col-md-8">
		<ul class="breadcrumb">
			<li>
				<a ng-click="$view.navigateTo('/')" href="javascript:;"><i class="fa fa-home"></i></a>
			</li>
			<li ng-repeat="token in $view.cur_path_tokens track by $index">
				<a ng-click="$view.navigateTo('/'+$view.cur_path_tokens.slice(0,$index+1).join('/'))" href="javascript:;">{{ token }}</a>
			</li>
		</ul>

		<div class="row">
			<div class="col-md-4">
				<div class="form-group">
					<label>Name</label>
					<input type="text" ng-model="$view.cur_code.name" class="form-control"/>
				</div>
			</div>
			<div ng-show="$view.cur_code.name" class="col-md-8 text-right">
				<div class="form-inline">
					<select ng-model="$view.selectedNode" class="form-control">
						<option ng-repeat="(node, data) in $view.idleNodes" ng-value="node" ng-if="data.status === 'idle'">{{ node }}</option>
					</select>
						<button ng-click="$view.sendCode($view.selectedNode, $view.code)" class="btn btn-success">
							<i class="fa fa-play"></i> Run Code
						</button>						
						<button ng-click="$view.saveFile()" class="btn btn-primary">
							<i class="fa fa-save"></i> Save Code
						</button>
						<button ng-show="$view.allCodes[$view.codeName]" ng-click="$service.deleteCode($view.codeName); $view.clearAll();" class="btn btn-danger">
							<i class="fa fa-trash"></i> Delete Code
						</button>					
				</div>
			</div>
		</div>
		<div class="form-group">
			<label>File</label>
			<div ui-ace="{ mode: 'javascript' }" ng-model="$view.cur_code.content" ng-keydown="$view.onKeyDown($event)"></div>
		</div>
	</div>
	<div class="col-md-4">
		
		<div class="well">
			<div class="btn-group">
				<button ng-click="$view.clearAll()" class="btn btn-primary">
					<i class="fa fa-file"></i> Create New
				</button>
				<button ng-click="showNewDirInput = true" class="btn btn-primary">
					<i class="fa fa-folder"></i> Create Directory
				</button>
				<button ng-show="$view.hasSelection" class="btn btn-warning">
					Move
				</button>
				<button ng-show="$view.hasSelection"
					ng-click="$view.deleteSelection()" class="btn btn-danger">
					Delete
				</button>
			</div>
		</div>
		
		<ul class="list-group">
			<li ng-if="$view.cur_path !== '/'" class="list-group-item">
				<a ng-click="$view.navigateTo('..')"
					href="javascript:;">
					<i class="fa fa-folder"></i> ..
				</a>
			</li>
			<li ng-repeat="dirName in $view.cur_dir.dirs" class="list-group-item">
				<input type="checkbox" ng-model="$view.cur_selection[dirName]"/>
				<a ng-click="$view.navigateTo(dirName)"
					href="javascript:;">
					<i class="fa fa-folder"></i> {{ dirName }}
				</a>
			</li>
			<li ng-show="showNewDirInput" class="list-group-item">
				<i class="fa fa-folder"></i>
				<input ng-model="newDirName" on-enter-key="$view.makeDir(newDirName); newDirName=''; showNewDirInput=false" class="form-control"/>
			</li>
			<li ng-repeat="fileName in $view.cur_dir.files"
				ng-class="{ active: ($view.cur_file.name === fileName) }"
				class="list-group-item">
				<input type="checkbox" ng-model="$view.cur_selection[fileName]"/>
				<a ng-click="$view.selectCode($view.cur_dir.children[fileName])"
					href="javascript:;">
					<i class="fa fa-file"></i> {{ fileName }}
				</a>
			</li>
		</ul>
		
	</div>
</div>