<nav class="navbar navbar-default">
	<div class="container-fluid">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<img alt="ThingsJS" class="navbar-brand" src="assets/img/ecelogo.png" style="padding:4px;"/>
			<a class="navbar-brand" ui-sref="main">ThingsJS</a>
		</div>
	</div>
</nav>
<div class="row container-fluid">
	<div class="col-md-2">
		
		<div class="well">
			<label>Server URL</label>
			<p ng-bind="service_url"></p>
		</div>
		
		<div class="list-group">
			<a ui-sref="nodes" ui-sref-active="active" class="list-group-item">
				Nodes
			</a>
			<a ui-sref="codes" ui-sref-active="active" class="list-group-item">
				Codes
			</a>
			<a ui-sref="debug" ui-sref-active="active" class="list-group-item">
				Debug
			</a>
		</div>
	
	</div>
	<div class="col-md-10">
		<div ui-view></div>
	</div>
</div>