<div class="row">
<div class="col-md-11">
		<div class="panel panel-default">		
			<div class="panel-heading">
			<span class="form-inline">
			<select ng-model="selectedSchedule" class="form-control">
				<option value="">--- Select Schedule ---</option>
		<!-- 		<option ng-value = "currentschedule"> Current Schedlue </option>
				<option ng-value = "schedule1"> Schedule 1 </option>
				<option ng-value = "schedule2"> Schedule 2 </option> -->
				<option ng-repeat = "schedule in $schedules" ng-value = "schedule.id"> {{schedule.id}}
				</option>
			</select>
		</span>
			<div class="btn-group" ng-init="viewMode = 'device'">
			<button ng-click="viewMode = 'device'" class="btn btn-default" ng-class="{ active: viewMode === 'device' }">Device-View Mode</button>
			<button ng-click="viewMode = 'application'" class="btn btn-default" ng-class="{ active: viewMode === 'application' }">Code-View Mode</button>

		</div>
			</div>
			<div class="panel-body">
				<div class="dashboard-program-list">

<div ng-show="viewMode === 'device'">
				<form>
    <div class="form-group">
      <div class="input-group">
        <div class="input-group-addon"><i class="fa fa-search"></i></div>
        <input type="text" class="form-control" placeholder="Search Device" ng-model="searchDevice">
      </div>      
    </div>
</form>

<div ng-repeat = "device in $schedules[selectedSchedule].devices track by $index" class="panel panel-default col-md-11">
	<div class="panel-body" style="min-height:204px;" >
		<h4>{{device.device_id}}</h4>
		<table class="table table-bordered">
			<thead>
			<tr>
				<th>CodeName</th>
				<th>Instance ID</th>

			</tr>
			</thead>
				<tbody>
					<tr ng-repeat="component_id in device.components_id">						
						<td>{{device.components_name[$index] }}</td>
						<td>{{component_id }}</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>
		

<div ng-show="viewMode === 'application'">
				<form>
    <div class="form-group">
      <div class="input-group">
        <div class="input-group-addon"><i class="fa fa-search"></i></div>
        <input type="text" class="form-control" placeholder="Search Component" ng-model="searchApplication">
      </div>      
    </div>
</form>
    
		<schedule-app-panel ></schedule-app-panel>

		<schedule-app-panel ></schedule-app-panel>

		<schedule-app-panel ></schedule-app-panel>

		</div>
			</div>
<!-- 			</div>
		</div>				
	</div>
</div> -->