<div class="row">
	<div class="col-md-8">
		
		<div class="panel panel-default">
			<div class="panel-heading">
				Subscriptions
			</div>
			<div class="panel-body">
			
				<table class="table table-striped">
					<thead>
						<tr>
							<th>Topic</th>
							<th>Subscribed</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="(topic, data) in $view.subscriptions">
							<td>
								<a href="javascript:;" ng-click="$service.toggleSubscription(topic)">{{ topic }}</a>
							</td>
							<td>{{ data.subscribed }}</td>
						</tr>
					</tbody>
				</table>
				
			</div>
		</div>
		
	</div>
	<div class="col-md-4">
	</div>
</div>