.flex-container {
	display: flex;
}
.flex-container.flex-row {
	flex-direction: row;
	flex-wrap: wrap;
}
.flex-container.flex-col {
	flex-direction: column;
}

.flex-container>.dashboard-device {
	min-width: 128px;
	width: 128px;
	border-radius: 10px;
	border: 1px solid rgba(0,0,0,0.3);
	margin: 4px;
	text-align: center;
	cursor: pointer;
}
.flex-container>.dashboard-device>img {
	width: 100px;
}
.flex-container>.dashboard-device.dead {
	background: rgba(0,0,0,0.1);
}
.flex-container>.dashboard-device.dead>img {
	filter: grayscale(100%);
}
.flex-container>.dashboard-device.idle {
	background: rgba(100,240,100,0.25);
}
.flex-container>.dashboard-device.busy {
	background: rgba(240,100,100,0.25);
}
.flex-container>.dashboard-device.busy>img {
	filter: sepia(100%);
}

.dashboard-device-list {
	height: 250px;
	overflow: auto;
}

.dashboard-program-list {
	height: 750px;
	overflow: auto;
}


.dashboard-device-list>.dashboard-device {
	border-radius: 5px;
	border: 1px solid rgba(0,0,0,0.3);
	margin: 3px;
	padding: 3px;
	cursor: pointer;
	vertical-align: middle;
}
.dashboard-device-list>.dashboard-device>img {
	width: 40px;
}
.dashboard-device-list>.dashboard-device.dead {
	background: rgba(0,0,0,0.1);
}
.dashboard-device-list>.dashboard-device.dead>img {
	filter: grayscale(100%);
}
.dashboard-device-list>.dashboard-device.idle {
	background: rgba(100,240,100,0.25);
}
.dashboard-device-list>.dashboard-device.busy {
	background: rgba(240,100,100,0.25);
}
.dashboard-device-list>.dashboard-device.busy>img {
	filter: sepia(100%);
}

/* Console display */
.terminal {
	background: black;
	color: white;
	min-height: 12px;
	max-height: 144px;
	max-width: 800px;
	overflow: auto;
}
.terminal p {
	font-size: 12px;
	font-family: Courier New;
	font-weight: 600;
	line-height: 1em;
	margin-bottom: 4px;
	word-wrap: break-word;
}
/* End Console display */


.boolean-lamp {
	background: red;
	color: black;
}
.boolean-lamp.high {
	background: green;
	color: white;
}

.ubc-primary {
	color: #fff;
	background: #577ea9;
	border: #577ea9;
}

.footer-ubc {
	background: #002145;
	color: white;
	margin-top: 2em;
	padding: 1em;
}
.footer-ubc p{
	font-size: 12px;
	line-height: 1.1em;
	margin-bottom: 6px;
}

.ece-light {
	background: #dbe2e6;
}

/* Bootstrap Overrides */
.navbar-ubc {
	background: #002145;
	color: white;
	border-radius: 0;
}
.navbar-ubc a.navbar-brand {
	color: white;
	transition: 0.3s;
}
.navbar-ubc a.navbar-brand:hover {
	text-shadow: 0 0 4px white;
	transition: 0.3s;
}
.navbar-ubc .navbar-nav a{
	color: white;
}
.navbar-ubc .navbar-nav a:hover{
	background: #577ea9;
	color: white;
}

.navbar-logo {
	float: left;
	height: 50px;
	font-size: 18px;
	line-height: 20x;
	background: white;
	margin-left: -15px;
	margin-right: 0.6em;
	border: 4px solid #dbe2e6;
}