<div class="panel panel-default">
	<div class="panel-heading">
		<span class="form-inline">
			<select ng-model="code" ng-options= "data as target for (target, data) in $dash.programs"  class="form-control">
				<option value="">--- Select Program ---</option>
<!-- 				<option ng-repeat='(program.code_name+":"+program.id)  for program in $dash.programs' ng-value= program>{{ program.code_name }}+": "+program.id</option> -->
			<option ng-repeat="(target, data) in $dash.programs track by $index" ng-value="data">{{ data.code_name }}+": "+data.id</option>
			</select>
		</span>
		
		<div class="btn-group" ng-init="viewMode = 'workflow'">
			<button ng-click="viewMode = 'workflow'" class="btn btn-default" ng-class="{ active: viewMode === 'workflow' }">Workflow</button>
			<button ng-click="viewMode = 'graph'" class="btn btn-default" ng-class="{ active: viewMode === 'graph' }">Graph</button>
			<button ng-click="viewMode = 'console'" class="btn btn-default" ng-class="{ active: viewMode === 'console' }">Console</button>
			<button ng-click="viewMode = 'output'" class="btn btn-default" ng-class="{ active: viewMode === 'output' }">Output</button>
		</div>
		
	</div>
	<div class="panel-body" style="min-height:204px;" ng-model="code">
		
		<!-- Workflow View -->
		<div ng-show="viewMode === 'workflow'">
			<h4>Program Run time ID:{{code.id}}</h4>
			
			<table class="table table-bordered">
				<tbody ng-if="code">
					<tr>
						<th>Code Name</th>
						<td>{{ code.code_name }}</td>
						<th>Status</th>
						<td>{{ code.status }}</td>
					</tr>
				</tbody>
				<tbody ng-if="!code">
					<tr>
						<td class="text-center">Fail to find program Stat </td>
					</tr>
				</tbody>
			</table>
			
			<h4 ng-if="code">PROGRAM HISTORY </h4>
			<table class="table table-bordered" ng-if="code">
				<span class ="form-control-static">show <select ng-model="limit" style="width: 40px;">
					<option ng-value = "0">0</option>
					<option ng-value = "1">1</option>
					<option ng-value = "2">2</option>
					<option ng-value = $dash.findHistoryDevices(code.id).length>All</option>
					</select> lines
				</span>
				<thead>
					<tr>
						<th>Device</th>
						<th>Start Time</th>
						<th>End time</th>
						<th>Status on device</th>
					</tr>
				</thead>
	<!-- 			<tbody ng-repeat="device in code.historyDevices| limitTo: limit"> -->
					<tbody ng-repeat="device in $dash.findHistoryDevices(code.id)| limitTo: limit">
					<tr >
						<th>
							{{ device.id }}
						</th>
						<th>
						<!-- 	{{ $ctrl.convertDatetime(device.stats[0].timestamp)}}  -->
						{{device.stats[0].timestamp|date:"medium"}}
						</th>
						<th>
							<!-- {{ $ctrl.convertDatetime(device.stats[device.stats.length-1].timestamp) }} -->
							"Fake"
						</th>
						<th>
							{{ device.codes[code.code_name][code.id] }}
						</th>
					</tr>
		<!-- 			<tr ng-show="$ctrl.showSource[instance_id]">
						<td colspan=4 style="white-space: pre-wrap">
							{{ $dash.programs[instance_id].snapshots[0] }}
						</td>
					</tr>
					<tr ng-show="$ctrl.showSource[instance_id]" ng-repeat-end>
						<td colspan=4 style="white-space: pre-wrap">
							{{ $dash.programs[instance_id].source }}
						</td>
					</tr> -->
				</tbody>
			</table>
										
		</div>
		<!-- End Status View -->
		
		<!-- Graph View -->
<!-- 		<div ng-show="viewMode === 'graph'">
			
			<device-graph node="code.findRunningDevice(code.id,$dash.engines)" height="174"></device-graph>
										
		</div> -->


		<div ng-show="viewMode === 'graph'">
			
			<program-graph code="code" height="174"></program-graph>
										
		</div>
		<!-- End Graph View -->
		
		<!-- Console View -->
		<div ng-show="viewMode === 'console'">
			
			<device-console lines="code.engine.console" height="144px"></device-console>
			<button ng-if="code.engine.console.length > 0" class="btn btn-info btn-sm pull-right" ng-click="code.engine.console = []">Clear Console</button>
										
		</div>
		<!-- End Console View -->

		<!-- Output View -->
			<div ng-show="viewMode === 'output'">
			<table class="table table-bordered">
				<thead>
					<tr>
						<th>Topic</th>
						<th>Type</th>
						<th>Action</th>
					</tr>
				</thead>
				<tbody ng-repeat="output in code.outputs" uib-popover-template="'deviceMenu.html'"
						popover-placement="bottom">
					<tr>
						<th>
						   {{ output.topic}}
						</th>
						<td>
							{{ output.type }}
						</td>
						<td>
							{{ output.action }}     
						</td> 
					</tr>
				</tbody>

			</table>
			
										
		</div>





		<!-- End Output View  -->



<!-- 	</div>
	<div class="panel-footer">
		<div ng-show="node" class="form-inline">
			<select ng-model="selectedCode" class="form-control">
				<option value="">--- Select Code ---</option>
				<option ng-repeat="(codeName, data) in $ctrl.codes" ng-value="codeName">{{ codeName }}</option>
			</select>
			<button ng-click="node.runCode(selectedCode, $ctrl.codes[selectedCode].content)" class="btn btn-danger">
				<i class="fa fa-play"></i> Run
			</button>
		</div> -->
		
		<!-- Node Controls -->
		<!-- <div ng-if="node.status === 'idle'" class="form-inline">
			<select ng-model="selectedCode" class="form-control">
				<option value="">--- Select Code ---</option>
				<option ng-repeat="(codeName, data) in $ctrl.codes" ng-value="codeName">{{ codeName }}</option>
			</select>
			<button ng-click="node.runCode(selectedCode, $ctrl.codes[selectedCode].content)" class="btn btn-danger">
				<i class="fa fa-play"></i> Run
			</button>
		</div> -->
		
		<!-- <div ng-if="node.status === 'busy'" class="form-inline">
			<span>{{ node.running }}</span>
			<button ng-if="node.status === 'busy'" class="btn btn-danger btn-sm" ng-click="$service.pauseCode(node.id, node.running)">
				<i class="fa fa-stop"></i> Stop
			</button>
			<select ng-model="selectedNode" class="form-control">
				<option value="">--- Select Device ---</option>
				<option ng-repeat="(target, data) in $service.allNodes" ng-value="target" ng-if="data.status === 'idle' && data.id !== node.id">{{ target }}</option>
			</select>
			<button class="btn btn-warning btn-sm"
					ng-click="$service.migrateCode(node.id, selectedNode, node.running)">
				<i class="fa fa-exchange"></i> Migrate
			</button>
		</div> -->
		<!-- End Node Controls -->
		
	</div>
</div>