<div class="panel panel-default">
	<div class="panel-heading">
		<span class="form-inline">
			<select ng-model="node" ng-options="data as target for (target, data) in $dash.engines" class="form-control">
				<option value="">--- Select Device ---</option>
				<option ng-repeat="(target, data) in $dash.engines" ng-value="data">{{ target }}</option>
			</select>
		</span>
		
		<div class="btn-group" ng-init="viewMode = 'status'">
			<button ng-click="viewMode = 'status'" class="btn btn-default" ng-class="{ active: viewMode === 'status' }">Status</button>
			<button ng-click="viewMode = 'graph'" class="btn btn-default" ng-class="{ active: viewMode === 'graph' }">Graph</button>
			<button ng-click="viewMode = 'console'" class="btn btn-default" ng-class="{ active: viewMode === 'console' }">Console</button>
		</div>
		
	</div>
	<div class="panel-body" style="min-height:204px;">
		
		<!-- Status View -->
		<div ng-show="viewMode === 'status'">
			<h4>{{ node.id }}</h4>
			
			<table class="table table-bordered">
				<tbody ng-if="node">
					<tr>
						<th>Status</th>
						<td>{{ node.status }}</td>
					</tr>
					<tr>
						<th>Device</th>
						<td>{{ node.info.device }}</td>
					</tr>
					<!-- <tr>
						<th>Running</th>
						<td>
							<span>{{ node.running || '-' }}</span>
							<button ng-if="node.status === 'busy'" class="btn btn-danger btn-sm" ng-click="$service.pauseCode(node.id, node.running)">
								<i class="fa fa-stop"></i> Stop
							</button>
						</td>
					</tr> -->
				</tbody>
				<tbody ng-if="!node">
					<tr>
						<td class="text-center">Device not selected</td>
					</tr>
				</tbody>
			</table>
			
			<h4 ng-if="node">Processes</h4>
			<table class="table table-bordered" ng-if="node">
				<thead>
					<tr>
						<th>Code</th>
						<th>Runtime ID</th>
						<th>Status</th>
						<th></th>
					</tr>
				</thead>
				<tbody ng-repeat="(code_name, instances) in node.codes">
					<tr ng-repeat-start="(instance_id, status) in instances">
						<th>
							<a ng-click="$ctrl.showSource[instance_id] = !$ctrl.showSource[instance_id]">{{ code_name }}</a>
						</th>
						<td>
							{{ instance_id }}
						</td>
						<td>
							{{ status }}
						</td>
						<td>
							<button ng-show="status === 'Running'" ng-click="node.pauseCode(code_name, instance_id)" class="btn btn-danger">
								Pause
							</button>
							<button ng-show="status === 'Paused'" ng-click="node.resumeCode(code_name, instance_id)" class="btn btn-success">
								Resume
							</button>

							<span ng-show="status === 'Running' || status === 'Paused'" class="form-inline">
								<select ng-model="selectedNode" class="form-control">
									<option value="">--- Select Device ---</option>
									<option ng-repeat="(target, data) in $dash.engines" ng-value="target" ng-if="data.id !== node.id">{{ target }}</option>
								</select>
								<button class="btn btn-warning btn-sm"
										ng-click="node.migrateCode(code_name, instance_id, selectedNode)">
									<i class="fa fa-exchange"></i> Migrate
								</button>
							</span>
						</td>
					</tr>
					<tr ng-show="$ctrl.showSource[instance_id]">
						<td colspan=4 style="white-space: pre-wrap">
							{{ $dash.programs[instance_id].snapshots[0] }}
						</td>
					</tr>
					<tr ng-show="$ctrl.showSource[instance_id]" ng-repeat-end>
						<td colspan=4 style="white-space: pre-wrap">
							{{ $dash.programs[instance_id].source }}
						</td>
					</tr>
				</tbody>
			</table>
										
		</div>
		<!-- End Status View -->
		
		<!-- Graph View -->
		<div ng-show="viewMode === 'graph'">
			
			<device-graph node="node" height="174"></device-graph>
										
		</div>
		<!-- End Graph View -->
		
		<!-- Console View -->
		<div ng-show="viewMode === 'console'">
			
			<device-console lines="node.console" height="144px"></device-console>
			<button ng-if="node.console.length > 0" class="btn btn-info btn-sm pull-right" ng-click="node.console = []">Clear Console</button>
										
		</div>
		<!-- End Console View -->
		
	</div>
	<div class="panel-footer">
		<div ng-show="node" class="form-inline">
			<select ng-model="selectedCode" class="form-control">
				<option value="">--- Select Code ---</option>
				<option ng-repeat="(codeName, data) in $ctrl.codes" ng-value="codeName">{{ codeName }}</option>
			</select>
			<button ng-click="node.runCode(selectedCode, $ctrl.codes[selectedCode].content)" class="btn btn-danger">
				<i class="fa fa-play"></i> Run
			</button>
		</div>
		
		<!-- Node Controls -->
		<!-- <div ng-if="node.status === 'idle'" class="form-inline">
			<select ng-model="selectedCode" class="form-control">
				<option value="">--- Select Code ---</option>
				<option ng-repeat="(codeName, data) in $ctrl.codes" ng-value="codeName">{{ codeName }}</option>
			</select>
			<button ng-click="node.runCode(selectedCode, $ctrl.codes[selectedCode].content)" class="btn btn-danger">
				<i class="fa fa-play"></i> Run
			</button>
		</div> -->
		
		<!-- <div ng-if="node.status === 'busy'" class="form-inline">
			<span>{{ node.running }}</span>
			<button ng-if="node.status === 'busy'" class="btn btn-danger btn-sm" ng-click="$service.pauseCode(node.id, node.running)">
				<i class="fa fa-stop"></i> Stop
			</button>
			<select ng-model="selectedNode" class="form-control">
				<option value="">--- Select Device ---</option>
				<option ng-repeat="(target, data) in $service.allNodes" ng-value="target" ng-if="data.status === 'idle' && data.id !== node.id">{{ target }}</option>
			</select>
			<button class="btn btn-warning btn-sm"
					ng-click="$service.migrateCode(node.id, selectedNode, node.running)">
				<i class="fa fa-exchange"></i> Migrate
			</button>
		</div> -->
		<!-- End Node Controls -->
		
	</div>
</div>