<div class="panel panel-default">
	<div class="panel-heading">
		<select ng-model="$ctrl.selectedTopic">
			<option ng-value="topic" ng-repeat="(topic, data) in $ctrl.subscriptions" ng-if="data.subscribed === true">{{ topic }}</option>
		</select>
	</div>
	<div class="panel-body" style="max-height: 30em; overflow: auto;">
		<table class="table">
			<tbody>
				<tr ng-repeat="msg in $ctrl.messages[$ctrl.selectedTopic] | filter: $ctrl.msgSearch">
					<td>{{ msg.dtstamp|date:"yyyy-MM-dd HH:mm:ss.sss" }}</td>
					<td>{{ msg }}</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div class="panel-footer text-right">
		<input ng-model="$ctrl.msgSearch" placeholder="Search in {{$ctrl.selectedTopic}}"/>
	</div>
</div>